.asset-214x-1,
.asset-74x-1 {
  position: absolute;
  top: 129px;
  right: -65px;
  width: 347px;
  height: 333px;
  object-fit: cover;
}
.asset-74x-1 {
  top: 42px;
  right: 1579.4px;
  width: 265.1px;
  height: 252px;
  object-fit: contain;
}
.mask-group-icon,
.vector-icon12 {
  position: absolute;
  top: 100px;
  right: 230px;
  width: 1459px;
  height: 403px;
}
.mask-group-icon {
  right: 228px;
  width: 1461px;
}
.at-ultrapro-our,
.your-gateway-to {
  position: absolute;
  display: inline-block;
}
.at-ultrapro-our {
  top: 430px;
  right: 288px;
  line-height: 32px;
  width: 596px;
}
.your-gateway-to {
  top: 122px;
  right: 310px;
  font-size: var(--font-size-41xl);
  font-weight: 500;
  font-family: var(--font-roboto-slab);
  background: linear-gradient(94.47deg, #fff, #ffdfc8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 574px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.arwork-2-1 {
  position: absolute;
  top: 137px;
  right: 1070px;
  width: 619px;
  height: 561px;
  object-fit: cover;
}
.frame-child9 {
  position: absolute;
  top: 512px;
  left: 317px;
  border-radius: var(--br-9xl);
  background: linear-gradient(180deg, #5026bf, #1d1739);
  width: 61px;
  height: 69px;
}
.clip-path-group2 {
  position: absolute;
  height: 9.09%;
  width: 5.11%;
  top: 62.56%;
  right: 79.31%;
  bottom: 28.35%;
  left: 15.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.asset-214x-1-parent {
  position: absolute;
  top: 1248px;
  left: 0;
  width: 1919px;
  height: 804px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--ffffff);
  font-family: var(--font-archivo);
}
