.asset-174x-1 {
  position: absolute;
  top: -47px;
  left: 1569px;
  width: 261.1px;
  height: 279.5px;
  object-fit: contain;
}
.vector-icon8 {
  position: absolute;
  top: 0;
  right: 0;
  width: 328.6px;
  height: 432.8px;
}
.sustainability-involvement-t {
  margin: 0;
}
.sustainability-involvement-t-container {
  position: absolute;
  bottom: 97.8px;
  left: calc(50% - 146.4px);
  line-height: 27.37px;
  font-weight: 300;
  display: inline-block;
  width: 293px;
}
.values {
  position: absolute;
  right: 203.6px;
  bottom: 215.8px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-roboto-slab);
  background: linear-gradient(94.47deg, #fff, #ffdfc8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vector-icon9 {
  position: absolute;
  height: 14.79%;
  width: 19.48%;
  top: 6.93%;
  right: 8.61%;
  bottom: 78.28%;
  left: 71.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-parent3 {
  position: relative;
  width: 328.6px;
  height: 432.8px;
}
.frame-parent2 {
  position: absolute;
  top: 0;
  left: 375.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl);
}
.frame-child3 {
  position: absolute;
  top: -31px;
  left: 0;
  width: 328px;
  height: 433px;
  object-fit: contain;
}
.frame-parent1 {
  position: absolute;
  top: 124px;
  left: 270px;
  width: 1453px;
  height: 459px;
}
.designed-by-freepik-icon {
  position: absolute;
  top: 119px;
  left: -20px;
  width: 181px;
  height: 181px;
  overflow: hidden;
}
.asset-134x-1,
.asset-33x-1 {
  position: absolute;
  top: 65px;
  left: 9px;
  width: 74px;
  height: 74px;
  object-fit: cover;
}
.asset-134x-1 {
  top: 139px;
  left: -33px;
  width: 145px;
  height: 224px;
}
.frame-child4 {
  position: absolute;
  top: 0;
  right: 127px;
  width: 1686px;
  height: 148px;
}
.layer-1-icon5,
.layer-1-icon6 {
  position: absolute;
  width: 623px;
  height: 905px;
  overflow: hidden;
  mix-blend-mode: overlay;
}
.layer-1-icon5 {
  top: 1341px;
  right: -109px;
  object-fit: contain;
}
.layer-1-icon6 {
  top: 1455px;
  right: 1568px;
}
.asset-1820x-1,
.asset-94x-2 {
  position: absolute;
  top: 462px;
  left: 1855px;
  width: 64px;
  height: 64px;
  object-fit: contain;
}
.asset-94x-2 {
  top: 1480px;
  left: 1454px;
  width: 324.2px;
  height: 316.4px;
}
.solutions {
  position: relative;
  font-weight: 500;
  background: linear-gradient(94.47deg, #fff, #ffdfc8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 322px;
}
.solutions-wrapper {
  position: absolute;
  top: 624px;
  left: calc(50% - 248.5px);
  width: 322px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-41xl);
  font-family: var(--font-roboto-slab);
}
.asset-3120x-1,
.asset-33x-2,
.asset-410x-3 {
  position: absolute;
  top: 1594px;
  left: 1681px;
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.asset-3120x-1,
.asset-410x-3 {
  top: 1117px;
  left: -43px;
  width: 219px;
  height: 216px;
}
.asset-410x-3 {
  top: 949px;
  left: -125px;
  width: 155px;
  height: 152px;
}
.vector-icon10 {
  position: absolute;
  top: 1044px;
  left: -48px;
  width: 181px;
  height: 181px;
}
.frame-child5,
.vector-smart-object-copy-3-1 {
  position: absolute;
  top: 1016px;
  left: 66px;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.frame-child5 {
  top: 1155px;
  left: 683px;
  border-radius: var(--br-381xl);
  width: 0;
  height: 81px;
  object-fit: contain;
  opacity: 0.4;
}
.frame-child6 {
  top: 1196px;
  left: 642px;
  max-height: 100%;
  width: 81px;
}
.frame-child6,
.frame-child7,
.frame-child8 {
  position: absolute;
  border-radius: var(--br-381xl);
  opacity: 0.4;
}
.frame-child7 {
  top: 1196px;
  left: 993px;
  max-height: 100%;
  width: 81px;
}
.frame-child8 {
  top: 1155px;
  left: 1033px;
  width: 0;
  height: 81px;
  object-fit: contain;
}
.vector-icon11 {
  position: absolute;
  top: 1px;
  right: 0;
  width: 705px;
  height: 291px;
}
.defi {
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  font-family: var(--font-roboto-slab);
}
.eenaswapfinancerevolutionizi,
.unlock-the-future {
  position: relative;
  line-height: 136%;
  display: inline-block;
  flex-shrink: 0;
}
.eenaswapfinancerevolutionizi {
  text-transform: capitalize;
  width: 294px;
  height: 31px;
}
.unlock-the-future {
  width: 616px;
  height: 44px;
}
.eenaswapfinancerevolutionizi-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.explore-more1 {
  position: relative;
  line-height: 136%;
  text-transform: capitalize;
}
.frame-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.defi-parent,
.explore-more-group {
  display: flex;
  justify-content: flex-start;
}
.explore-more-group {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-4xs);
  text-align: center;
  color: var(--color-darkorange);
}
.defi-parent {
  position: absolute;
  top: 45.2px;
  left: 55px;
  height: 205.7px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-12xl);
  font-size: var(--font-size-base);
}
.vector-parent4 {
  position: absolute;
  top: 833px;
  left: 228px;
  width: 705px;
  height: 292.1px;
  font-size: var(--font-size-8xl);
}
.asset-174x-1-parent {
  position: absolute;
  top: 2044px;
  left: 20px;
  width: 1919px;
  height: 1500px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--ffffff);
  font-family: var(--font-archivo);
}
